/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  h3 {
    color: #333;
    font-size: 1.25rem;
  }
  
  button {
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  input,
  select {
    transition: border-color 0.3s ease;
  }
  
  input:focus,
  select:focus {
    border-color: #007BFF;
  }
  